{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>rand</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
              integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
                integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
                crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
                integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
                integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
                crossorigin="anonymous"></script>
    </head>
    <body>
        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand">
                <img src="https://i.gifer.com/33HU.gif" width="30" height="30" class="d-inline-block align-top" alt=""
                     loading="lazy">
                Рандомайзер
            </a>
        </nav>

        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label>Имена тестов</label>
                <textarea class="form-control" name="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <div class="form-group">
                <label>Имена авторов</label>
                <textarea class="form-control" name="exampleFormControlTextarea2" rows="3"></textarea>
            </div>
             <div class="form-row">
                <div class="col">
                   <label>Результат(для чата)</label>
                <textarea class="form-control" name="exampleFormControlTextarea3" rows="5">{{ result }}</textarea>
                </div>
                <div class="col">
                    <label>Результат(Сразу для вставки в Excel)</label>
                    <textarea class="form-control" name="exampleFormControlTextarea3" rows="5">{{ result_for_excel }}</textarea>
                </div>
            </div>

            <button type="submit" class="btn btn-primary mb-2" name="sendButton">Отправить</button>

            <div class="alert alert-success" role="alert">
                Информация
            </div>

            <div>В имена тестов копируем поля из Excel::<br>
                -- Для случая если мы хотим просто для чата - то копируем только названия(хотя можно и любые поля)<br>
                Пример ::<br>
                <br>
                 <div class="alert alert-secondary" role="alert">
                Название теста 1<br>
                Название теста 2<br>
                Название теста 3<br>
                Название теста 4<br>
                 </div>
                -- Для случая если мы хотим сразу вставить в Excel - то копируем все строки до столбца Ответственный<br>
                <div class="alert alert-secondary" role="alert">
                [Направление]	Название теста 1	0	0	0	0	0<br>
                [Направление]	Название теста 2	0	0	0	0	0<br>
                [Направление]	Название теста 3 	0	0	0	0	0<br>
                [Направление]	Название теста 4	0	0	0	0	0<br>
                 </div>

                В имена авторов также просто из Excel копируем всех участников::<br>
                <div class="alert alert-secondary" role="alert">
                Фамилия1<br>
                Фамилия2<br>
                Фамилия3<br>
                Фамилия4<br>
                 </div>

                (Результаты в любом случае всегда выводятся в оба столбца - такая логика)<br>
                Примеры результатов если для чата --<br>
                <br>
               <div class="alert alert-success" role="alert">
                Количество тестов :: 4<br>
                Количество участников :: 4<br>
                Количество тестов на человека :: 1<br>
                Количество нераспределенных тестов :: 0<br>
                Фамилия1 ::<br>
                 -- Название теста 4<br>
                ---------------------<br>
                Фамилия2 ::<br>
                 -- Название теста 1<br>
                ---------------------<br>
                Фамилия3 ::<br>
                 -- Название теста 3<br>
                ---------------------<br>
                Фамилия4 ::<br>
                 -- Название теста 2<br>
                ---------------------<br>
               </div>
                Примеры результатов если для excel(Результат можно вставить сразу в Excel) --<br>
                <br>
                 <div class="alert alert-success" role="alert">
                [Направление]	Название теста 3	0	0	0	0	0	Фамилия1<br>
                [Направление]	Название теста 4	0	0	0	0	0	Фамилия2<br>
                [Направление]	Название теста 1	0	0	0	0	0	Фамилия3<br>
                [Направление]	Название теста 2	0	0	0	0	0	Фамилия4<br>
                 </div>
            </div>
        </form>
    </body>
</html>